@model IEnumerable<ITPE3200X.Models.Post>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @foreach (var post in Model)
    {
        @await Html.PartialAsync("_PostPartial", post)
    }
</div>
