@model List<ITPE3200X.ViewModels.PostViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="text-center">Home Feed</h1>
    @foreach (var post in Model)
    {
        <div id="post-@post.PostId">
            <partial name="_PostPartial" model="post"/>
        </div>
    }
</div>
