@model List<ITPE3200X.ViewModels.PostViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid text-center my-4">
    <h1 class="d-flex justify-content-center align-items-center" style="font-size: 2rem; font-weight: bold; color: #ffffff; transition: transform 0.3s;">
        <i class="bi bi-house-door-fill me-2" style="color: #86a5af; font-size: 1em !important;"></i> <!-- Icon with Bootstrap styling -->
        Home Page
    </h1>
    <div class="mx-auto my-3" style="width: 56%; height: 2px; background-color: #79959E; box-shadow: 0 4px 10px 0 #7cbeea; max-width: 350px"></div> <!-- Divider with shadow -->
</div>
<div class="container">
    <!-- Index site, rendering PostPartial -->
    @foreach (var post in Model)
    {
        <div id="post-@post.PostId">
            <partial name="_PostPartial" model="post"/>
        </div>
    }
</div>
