@model List<ITPE3200X.ViewModels.PostViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center my-4">
    <h1>Home Page</h1>
</div>
<div class="container">
    @foreach (var post in Model)
    {
        <div id="post-@post.PostId">
            <partial name="_PostPartial" model="post" />
        </div>
    }
</div>
