@model ITPE3200X.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div id="home-page-content">
        <!-- Render the HomePage view -->
        <partial name="~/Views/Home/HomePage.cshtml" model="Model" />
    </div>
</div>