<div class="profile-page">
    <div class="profile-header">
        <img src="" alt="Profile Picture" class="profile-pic"/>
        <h1>Herman</h1>
        <p>ChadGPT superhuman</p>
    </div>
    <div class="profile-stats">
        <span>1000000 followers</span>
        <span>10 following</span>
    </div>
    <div class="profile-details">
        <p>Email: herman.rov@gmail.com</p>
    </div>
</div>



