<div class="profile-page">
    <div class="profile-header">
        <img src="/lib/bootstrap/bootstrap-icon/person.svg" alt="Profile Picture" class="profile-pic" style="height: 10rem"/>
        <h1>Lud</h1>
        <p>Hei på deg</p>
    </div>
    <div class="profile-stats">
        <span>55 followers</span>
        <span>1 following</span>
    </div>
    <div class="profile-details">
        <p>Email: mail@mail.com</p>
    </div>
</div>



