
@{
ViewData["Title"] = "Profile Page";
}

<div class="profile-page">
    <div class="profile-header">
        <img src="/" alt="Profile Picture" class="profile-pic"/>
        <h1>Ludde gutten</h1>
        <p>Min bio er sick</p>
    </div>
    <div class="profile-stats">
        <span>2302325 followers</span>
        <span>12 following</span>
    </div>
    <div class="profile-details">
        <p>Email: bigdickenergy@gmail.com</p>
    </div>
</div>



