@model List<ITPE3200X.ViewModels.PostViewModel>

@{
    ViewData["Title"] = "Saved Posts";
}

<div class="container">
    @foreach (var post in Model)
    {
        <div id="post-@post.PostId">
            <partial name="_PostPartial" model="post" />
        </div>
    }
</div>