<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Kage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/ITPE3200X.site.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-dark py-3 mb-0" style="box-shadow: 0 6px 8px -4px lightblue;">
        <div class="container-fluid">
            <a class="navbar-brand text-white fs-4 px-3" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/Icons-images/icon.png" alt="Kage Icon" style="height: 1.4em; vertical-align: middle; margin-right: 5px;"><class></class>
                Kage
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="height: 1.8em; vertical-align: middle; margin-right: 5px; filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);"></span>
            </button>
            <div class="navbar-collapse collapse d-md-flex justify-content-between">
                <partial name="_NavLoginPartial"/>
            </div>
        </div>
    </nav>
</header>

<!-- This is the main content of the page -->
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar menu -->
        <div class="col-sm-3 bg-dark d-none d-lg-block d-md-block">
            <partial name="_SideMenuPartial"/>
        </div>

        <!-- Main Content, rendered according to the correct page -->
        <div class="col-md-9">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="footer text-muted bg-dark">
    <div class="container bg-dark text-white">
        &copy; 2024 - Kage
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>