@using Microsoft.AspNetCore.Identity
@using ITPE3200X.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <img src="/lib/bootstrap/bootstrap-icon/gear.svg" alt="Gear Icon" style="height: 1.8em; vertical-align: middle; margin-right: 5px; filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);">
        </a>
    </li>
    <li class="nav-item">
        <a id="profileview" class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Profile" title="Profile View">
            <img src="/lib/bootstrap/bootstrap-icon/person.svg" alt="Profile Icon" style="height: 2em; vertical-align: middle; margin-right: 5px; filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);">
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light display-3" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>    
    </li>
}
</ul>
