@using Microsoft.AspNetCore.Identity
@using ITPE3200X.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<!-- Making different nav bar if the user is logged in or not -->
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
    <li class="nav-item">
        <!-- Classes hides the icons when in hamburger menu on smaller screens -->
        <a id="manage" class="nav-link text-white d-sm-none d-xs-none d-md-block d-lg-block" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <i class="bi bi-gear fs-3"></i>        
        </a>
    </li>
    <li class="nav-item">
        <a id="profileview" class="nav-link text-white d-sm-none d-xs-none d-md-block d-lg-block" asp-area="" asp-controller="Profile" asp-action="Index" title="Profile View">
            <i class="bi bi-person fs-3"></i>
        </a>
    </li>
    /* This section is hidden on larger screen and visable on smaller screens when the side menu is hidden, works as replacement for side menu */
    <ul class="navbar-nav flex-grow-1 text-left d-lg-none d-md-none" style="font-size: 1.4rem;">
        <li class="nav-item mt-3"><a id="navhome" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" title="Home View">Home</a>
        <li class="nav-item mt-3"><a id="navprofile" class="nav-link" asp-area="" asp-controller="Profile" asp-action="Index" title="Profile View">Profile</a></li>
        <li class="nav-item mt-3"><a class="nav-link" href="#">Saved</a></li>
        <li class="nav-item mt-3"><a class="nav-link" href="#">Search</a></li>
        <li class="nav-item mt-3"><a id="navsettings" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Settings</a></li>
    </ul>
    }
    else
    {
    <li class="nav-item">
        <a class="nav-link text-light" style="font-size: 1.4rem" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
    <ul class="navbar-nav flex-grow-1 text-left d-lg-none d-md-none" style="font-size: 1.4rem;">
        <li class="nav-item mt-3"><a id="navhome" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" title="Home View">Home</a>
        <li class="nav-item mt-3"><a class="nav-link" href="#">Search</a></li>
    </ul>
    }
</ul>






