@page
@model ResetPasswordModel
@{
ViewData["Title"] = "Reset password";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body class="vw-100 overflow-hidden">
<a asp-page="/Index" class="btn-close btn-close-white" aria-label="Close" style="position: absolute; top: 2rem; left: 2rem; font-size: 1.8rem;"></a>
<div class="container vh-100 align-content-center">
    <div class="row justify-content-center">
        <div class="col-md-8 pt-4 text-center">
            <img src="~/Icons-images/password-vector.png" alt="Vector Image" class="img-fluid my-2" style="height: 14rem">
            <h2 class="mb-3" style="color: #7cbeea">@ViewData["Title"]</h2>
            <p class="lead mb-4">Reset your password.</p>

            <form method="post" class="card bg-transparent text-dark p-4 border-0">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" id="Input_Password" autocomplete="new-password" aria-required="true" placeholder=" ">
                    <label asp-for="Input.Password">New Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" id="Input_ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder=" ">
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn loginbtn-primary btn-lg w-100">Reset</button>
                <div class="mt-3 text-center">
                    <a asp-page="./Login" class="btn loginbtn-secondary btn-lg w-100" role="button">Back to Login</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<style>
    .navbar, .footer, #side-menu-row {
        display: none !important;
    }

    .row {
        justify-content: center !important;
    }

    .form-control {
        max-width: 100%; /* Full width to match button size */
        padding: 0.5rem;
        font-size: 1.5rem;
        letter-spacing: 2px;
    }

    .form-floating {
        width: 100%; /* Ensure label and input alignment matches button width */
    }
</style>
@section Scripts {
<partial name="_ValidationScriptsPartial"/>
}
</html>